#more {
    position: absolute;
    right: 100vw;
  }
  
  .non_visible_text {
    display: none; 
  }
  
  label[for="more"]:after {
    content: '+';
    float: right;
    
  }
  
  #more:checked~.non_visible_text {
    display: block;
  }
  
  /* TESTING TWO OF THESE ONE ABOVE THE OTHER  */

  #job2__more {
    position: absolute;
    right: 100vw;
  }
  
  label[for=job2__more]:after {
    content: '+';
    float: right;
  }
  
  #job2__more:checked~.non_visible_text {
    display: block;
  }
  
  #job3__more {
    position: absolute;
    right: 100vw;
  }
  
  label[for=job3__more]:after {
    content: '+';
    float: right;
  }
  
  #job3__more:checked~.non_visible_text {
    display: block;
  }
  