#job1__more {
    position: absolute;
    right: 100vw;
}
  
.non_visible_text {
    display: none; 
}

label[for=job1__more]:after {
    content: '+';
    float: right;
    
}
  
#job1__more:checked~.non_visible_text {
    display: block;
}
  
  
#job2__more {
    position: absolute;
    right: 100vw;
}
  
label[for=job2__more]:after {
    content: '+';
    float: right;
}
  
#job2__more:checked~.non_visible_text {
    display: block;
}
  
#job3__more {
    position: absolute;
    right: 100vw;
}
  
label[for=job3__more]:after {
    content: '+';
    float: right;
}
  
#job3__more:checked~.non_visible_text {
    display: block;
}
  
//   now for the interests
#hobby1__more {
    position: absolute;
    right: 100vw;
}
  
.non_visible_text {
    display: none; 
}
  
label[for=hobby1__more]:after {
    content: '+';
    float: right;
    
}
  
#hobby1__more:checked~.non_visible_text {
    display: block;
}
  
#hobby2__more {
    position: absolute;
    right: 100vw;
}
  
label[for=hobby2__more]:after {
    content: '+';
    float: right;
}
  
#hobby2__more:checked~.non_visible_text {
    display: block;
}
  
#hobby3__more {
    position: absolute;
    right: 100vw;
}
  
label[for=hobby3__more]:after {
    content: '+';
    float: right;
}
  
#hobby3__more:checked~.non_visible_text {
    display: block;
}

.non_visible_text, .visible_text {
    border-style:solid;
    border-width: 0.0625rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(63, 63, 63);
}