.rectangle {
    background-color: $display-color;
    width: 6rem;
    height: 0.25rem;

}

//rectangle2 is with projects cards

.rectangle3{
    background-color: $display-color;
    width: 2.75rem;
    height: 0.125rem;
    margin-bottom: 0.75rem;
    
}