h1,p,h3{
    font-weight: 400;
}
h2,h4{
    font-weight: 700;
}

h1 {
    font-family: $font-cor;
    font-size: 4.5rem;
}

p{
    font-family: $font-int;
    font-size: 1rem;
}

h2 {
    font-family: $font-cor;
    font-size: 2rem;
}

h3{
    font-family: $font-cor;
    font-size: 1.844rem;
}

h4 {
    font-family: $font-cor;
    font-size: 1.5rem
}

h5{
    font-family: $font-cor;
    font-weight: 600;
    font-size: 1.20rem;
}