$background-color: rgb(30, 30, 30);  
$button-color: rgb(40, 40, 40);
$display-color: white;
$alternative-color:purple;
$font-cor: cormorant, helvetica, sans-serif;
$font-int: inter, arial, sans-serif; 

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;500;600&display=swap');


*{
    color: $display-color;
    background-color: $background-color;
    padding: 0;
}

@import "./navBar";
@import "./text";
@import "./rectangles";
@import "./project_card";
@import "./about";
@import "./additional-text";
@import "./contact---footer";
@import "./media_queries";