*{
    color: white;
    background-color: black;
    padding: 0;
}
// Might need to mess with margins

nav {
    padding: 1rem;
    display: flex;
    align-items: center;

    header{
        padding-left: 0;
        padding-right: 50%;
    }
}

.dropdown { 
    display: flex;
    justify-content: end;
    padding-right: 1rem;
} 
   
.dropbtn { 
    padding: 0.5rem; 
    font-size: 1rem; 
    border-style:none;
} 
   
.dropdown-content { 
    display: none; 
    position: absolute; 
    min-width: 5rem;  
    background-color: purple;
// idk why the black overides the purple- not that important 
}   
   
a { 
    color: white; 
    padding: 12px 16px;  
    display: block; 
} 
   
.dropdown:hover .dropdown-content { 
    display: block; 
}


.rectangle {
    background-color: white;
    width: 6rem;
    height: 0.25rem;

}

.project__card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .rectangle2{
        background-color: white;
        width: 4.1rem;
        height: 0.058rem;
        margin-bottom: 0.75rem;
        
    }
    button {
        padding: 0.25rem;
        background-color: rgb(32, 29, 29);
        
    }
    .circular{
        border-radius: 1000px;
    }
}

.rectangle3{
    background-color: white;
    width: 2.75rem;
    height: 0.125rem;
    margin-bottom: 0.75rem;
    
}

.about {
    .img__me{
        padding-top: 5rem;
    }
}

@import "./additional-text";

.non_visible_text, .visible_text {
    border-style:solid;
    border-width: 0.0625rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(63, 63, 63);
}

.contact {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h1{
        font-size: 5rem;
    }
}

#contact__button{
    width: 12.5rem;
    height: 5rem;
}

footer{
    background-color: rgb(59, 58, 58);
    height: 5rem;
}
